#instructions {
    visibility: visible;
}

#dinosaurGame {
    position: center;
    margin: auto;
    margin-top: 80px;
    width: 880px;
    height: 190px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-top: solid #C4E1F6;
    border-bottom: solid #FF9D3D;
    border-left: solid #FFBD73;
    border-right: solid #FFBD73;

}

#dinosaur {
    height: 70px;
    width: 50px;
    position: relative;
    top: 120px;
    left: 70px;
    background-color: #6bdc63;

}

.obstaclesDown {
    width: 40px;
    height: 50px;
    background-color: rgb(218, 29, 29);
    top: 70px;
    left: 220px;
    float: right;
    position: relative;

}

.obstaclesUp {
    width: 40px;
    height: 50px;
    background-color: rgb(181, 133, 43);
    position: relative;
    top: -70px;
    left: 300px;
    float: right;
    position: relative;

}

#score {
    font-family: "Times New Roman";
    float: right;
    position: relative;
    top: -70px;
    left: -20px;
    z-index: 10;
}

#levelUp {
    visibility: hidden;
    font-family: "Times New Roman";
    float: left;
    position: relative;
    top: -70px;
    left: 10px;
    z-index: 10;
}

#theHighestScore {
    font-family: "Times New Roman";
    float: right;
    position: relative;
    top: -70px;
    left: -30px;
    z-index: 10;
}

#gameOverMess {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.311);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    z-index: 1000;
    visibility: hidden;
}
